<section class="catalog">
	<div class="container">
		<h2 class="catalog__title">Каталог</h2>
		<p class="catalog__descr">
			Акционеры крупнейших компаний, которые представляют собой яркий пример
			континентально-европейского типа политической культуры, будут объявлены
			нарушающими общечеловеческие нормы этики и морали. Являясь всего лишь
			частью общей картины, стремящиеся вытеснить традиционное производство,
			нанотехнологии и по сей день остаются уделом либералов, которые жаждут
			быть функционально разнесены на независимые элементы.
		</p>
		<ul class="catalog__list">
			<li class="catalog__item">
				<div class="catalog__item-img">
					<img src="/images/catalog-1.jpg" alt="" />
				</div>
				<div class="catalog__item-info">
					<div class="catalog__item-name">Доменико Гирландайо</div>
					<div class="catalog__item-period">2 июня 1448–11 января 1494</div>
					<p class="catalog__item-descr">
						Один из ведущих флорентийских художников Кватроченто, основатель
						художественной династии, которую продолжили его брат Давид и сын
						Ридольфо. Глава художественной мастерской, где юный Микеланджело в
						течение года овладевал профессиональными навыками. Автор фресковых
						циклов, в которых выпукло, со всевозможными подробностями показана
						домашняя жизнь библейских персонажей (в их роли выступают знатные
						граждане Флоренции в костюмах того времени).
					</p>
				</div>
			</li>
			<li class="catalog__item">
				<div class="catalog__item-img">
					<img src="/images/catalog-2.jpg" alt="" />
				</div>
				<div class="catalog__item-info">
					<div class="catalog__item-name">Андреа дель Верроккьо</div>
					<div class="catalog__item-period">1435–10 октября 1488</div>
					<p class="catalog__item-descr">
						Творческий путь молодого Андреа, как и многих знаменитых художников
						и скульпторов эпохи Возрождения, начался с обучения и работы в одной
						из ювелирных мастерских Флоренции. Там он занимался не только
						изготовлением драгоценных украшений, но и познавал основы живописи,
						пластики и архитектуры. Его первым учителем был Джулиано Веррокки,
						фамилию которого в несколько изменённом виде Андреа заимствовал для
						своего будущего псевдонима.
					</p>
				</div>
			</li>
			<li class="catalog__item">
				<div class="catalog__item-img">
					<img src="/images/catalog-3.jpg" alt="" />
				</div>
				<div class="catalog__item-info">
					<div class="catalog__item-name">Лоренцо ди Креди</div>
					<div class="catalog__item-period">1459–12 января 1537</div>
					<p class="catalog__item-descr">
						Один из ведущих флорентийских художников Кватроченто, основатель
						художественной династии, которую продолжили его брат Давид и сын
						Ридольфо. Глава художественной мастерской, где юный Микеланджело в
						течение года овладевал профессиональными навыками. Автор фресковых
						циклов, в которых выпукло, со всевозможными подробностями показана
						домашняя жизнь библейских персонажей (в их роли выступают знатные
						граждане Флоренции в костюмах того времени).
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>
