<section class="events">
	<div class="container">
		<h2 class="events__title">События</h2>
		<ul class="events__list">
			<li class="events__item">
				<div class="events__img">
					<img src="" alt="" />
				</div>
				<div class="events__place">Музей им. Щусева</div>
				<div class="events__date">с 20 марта по 30 апреля</div>
				<div class="events__name">Книжная гравюра в живом восприятии</div>
				<p class="events__descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо</p>
				<a class="events__show-more">Подробнее</a>
			</li>
			<li class="events__item">
				<div class="events__img">
					<img src="" alt="" />
				</div>
				<div class="events__place"></div>
				<div class="events__date"></div>
				<div class="events__name"></div>
				<p class="events__descr"></p>
				<a class="events__show-more">Подробнее</a>
			</li>
			<li class="events__item">
				<div class="events__img">
					<img src="" alt="" />
				</div>
				<div class="events__place"></div>
				<div class="events__date"></div>
				<div class="events__name"></div>
				<p class="events__descr"></p>
				<a class="events__show-more">Подробнее</a>
			</li>
		</ul>
	</div>
</section>
