<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<address class="footer__address">
				<div class="footer__address-strong">Шоурум № 4</div>
				Леонтьевский переулок, дом 5/1
			</address>
			<form action="" class="footer__form form">
				<div class="form__item">
					<input type="text" class="form__field" />
				</div>
				<div class="form__item">
					<input type="text" class="form__field" />
				</div>
				<div class="form__item">
					<input type="text" class="form__field" />
				</div>
				<div class="form__item">
					<input type="text" class="form__submit" />
				</div>
			</form>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
            <a class="footer__logo">
                <img src="" alt="">
            </a>
            <div class="footer__social">
                <ul class="social__list">
                    <li class="social__item">
                        <a href="" class="social__link"></a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</footer>
