<footer class="footer">
	<div class="footer__top">
		<div class="footer__top-container container">
			<address class="footer__address">
				<div class="footer__address-strong">Шоурум № 4</div>
				Леонтьевский переулок, дом 5/1
			</address>
			<form action="" class="footer__form form">
				<div class="form__item">
					<input type="text" class="form__field" placeholder="Имя*" />
				</div>
				<div class="form__item">
					<input type="text" class="form__field" placeholder="Телефон*" />
				</div>
				<div class="form__item">
					<input
						type="submit"
						class="form__submit btn btn--tert"
						value="Заказать обратный звонок"
					/>
				</div>
			</form>
			<div class="footer__connect">
				<h3 class="footer__connect-title">Связаться в один клик</h3>
				<ul class="footer__connect-list">
					<li class="footer__connect-item">
						<a href="" class="footer__connect-link">
							<img src="/images/wa.svg" />
						</a>
					</li>
					<li class="footer__connect-item">
						<a href="" class="footer__connect-link">
							<img src="/images/tg.svg" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__bottom-container container">
			<a href="" class="header__logo">
				<img src="/images/logo.svg" alt="" />
			</a>
			<div class="footer__social">
				<ul class="footer__social-list">
					<li class="footer__social-item">
						<a href="" class="footer__social-link">
							<img src="/images/vk.svg" alt="" />
						</a>
					</li>
					<li class="footer__social-item">
						<a href="" class="footer__social-link">
							<img src="/images/ok.svg" alt="" />
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
