<section class="gallery">
	<div class="gallery__container container">
		<div class="gallery__left">
			<h2 class="gallery__title">Галерея</h2>
			<div class="gallery__checkboxes">
				<div class="checkbox__wrap">
					<input type="checkbox" name="era" id="era19" value="era19" class="checkbox__input" />
					<label for="era19" class="checkbox__label">XIX век</label>
				</div>
				<div class="checkbox__wrap">
					<input type="checkbox" name="era" id="era20" value="era20" class="checkbox__input" />
					<label for="era20" class="checkbox__label">XX век</label>
				</div>
				<div class="checkbox__wrap">
					<input type="checkbox" name="era" id="era21" value="era21" class="checkbox__input" />
					<label for="era21" class="checkbox__label">Современность</label>
				</div>
			</div>
		</div>
		<div class="gallery__right">
			<picture class="gallery__img">
				<img class="gallery__slide-img" src="/images/gallery-1.jpg" alt="" />
			</picture>
			<picture class="gallery__img">
				<img class="gallery__slide-img" src="/images/gallery-2.jpg" alt="" />
			</picture>
			<picture class="gallery__img">
				<img class="gallery__slide-img" src="/images/gallery-3.jpg" alt="" />
			</picture>
		</div>
	</div>
</section>
