<section class="gallery">
	<div class="container">
		<div class="gallery__left">
			<h2 class="gallery__title"></h2>
			<div class="gallery__checkboxes">
				<div class="checkbox-wrap">
					<input type="checkbox" name="" id="" class="checkbox" />
					<label for="" class="checkbox__label"></label>
				</div>
				<div class="checkbox-wrap">
					<input type="checkbox" name="" id="" class="checkbox" />
					<label for="" class="checkbox__label"></label>
				</div>
				<div class="checkbox-wrap">
					<input type="checkbox" name="" id="" class="checkbox" />
					<label for="" class="checkbox__label"></label>
				</div>
			</div>
		</div>
		<div class="gallery__right">
			<div class="gallery__slider swiper">
				<div class="swiper-wrapper">
					<div class="gallery__slide swiper-slide">
						<img class="gallery__slide-img" src="" alt="" />
					</div>
					<div class="gallery__slide swiper-slide">
						<img class="gallery__slide-img" src="" alt="" />
					</div>
					<div class="gallery__slide swiper-slide">
						<img class="gallery__slide-img" src="" alt="" />
					</div>
					<div class="gallery__slide swiper-slide">
						<img class="gallery__slide-img" src="" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
