<header class="header">
    <div class="header__container container">
        <a href="" class="header__logo">
            <img src="/images/logo.svg" alt="">
        </a>
        <div class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">О нас</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">Галерея</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">Каталог</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">События</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">Проекты</a>
                </li>
                <li class="header__nav-item">
                    <a href="" class="header__nav-link">Контакты</a>
                </li>
            </ul>
        </div>
        <button class="header__search"><span class="header__search-icon"></span></button>
    </div>
    
</header>