<header class="header">
    <div class="header__top">
        <div class="header__container container">
            <a href="" class="header__logo">
                <img src="" alt="">
            </a>
            <div class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">О нас</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">Галерея</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">Каталог</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">События</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">Проекты</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="header__search">
                <div class="header__search-icon"></div>
            </div>
        </div>
    </div>
</header>