:root {
    --font: 'Open Sans',sans-serif;
    --black: #000000;
    --grey-dark: #333333;
    --grey: #666666;
    --grey-light: #999999;
    --grey-lightest: #CACACA;
    --grey-lightest-2: #ECECEC;
    --white: #FFFFFF;
    --accent: #9D5CD0;
    --accent-light: #C283F3;
    --accent-lightest: #D1A9F0;
    --accent-dark: #7943A4;
    --error: #D11616; 
    --tg: #26A5E4;
    --wa: #30BF39;
    --st: 0.5s; //short time
    --headerHeight: 100px;
}